{% trans_default_domain 'static' %}

{% extends 'AdminBundle:Static:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'static.page.list.title'|trans|capitalize }}{% endblock %}

{% block headingactions %}
<div class="heading_actions">
    <a href="{{ url('puzzle_admin_static_page_create') }}">
       	<span class="uk-text-bold">{{ "static.page.list.new"|trans|upper }}</span>
        <i class="fa fa-plus-circle"></i>
    </a>
</div>
{% endblock %}

{% block breadcrumbmodule %}
	{{ parent() }}
	<em>{{ 'static.page.list.title'|trans|capitalize }}</em>
{% endblock %}

{% block content %}
	<div id="page_content_inner">
        <div class="uk-width-1-1">
            <div class="md-card">
                <div class="md-card-content">
                    <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="no-sort">
                                    {% if pages is not empty %}
                                        <div class="toggle-action uk-hidden">
                                            <select class="grouped-actions">
                                                <option value="">{{ 'static.page.list.grouped_actions'|trans }}</option>
                                                <option value="delete">{{ 'static.page.list.delete'|trans }}</option>
                                            </select>
                                            <input type="hidden" value="{{ pages|length|default('0') }}" id="toggle-items-count">
                                            <input type="hidden" value="0" id="toggle-items-checked-count">
                                        </div>
                                    {% endif %}
                                </th>
                                <th>{{ 'static.page.list.name'|trans }}</th>
                                <th>{{ 'static.page.list.template'|trans }}</th>
                                <th>{{ 'static.page.list.created_at'|trans }}</th>
                                <th>{{ 'static.page.list.updated_at'|trans }}</th>
                        		<th class="uk-text-right no-sort">{{ 'static.page.list.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pages %}
                                <tr class="toggleable" id="item-{{ page.id }}">
                                    <td>
                                        <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                            <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ page.id }}">&#xE835;</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url('puzzle_admin_static_page_show', {'id': page.id}) }}" class="show-modal">{{ page.name }}</a>
                                    </td>
                                    <td>{{ page.template is not empty ? page.template.name : 'static.page.list.undefined'|trans }}</td>
                                    <td>{{ date_time_ago(page.createdAt) }}</td>
                                    <td>{{ date_time_ago(page.updatedAt) }}</td>
                                    <td class="uk-text-right">
                                        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                            <a><i class="fa fa-align-justify"></i></a>
                                            <div class="uk-dropdown uk-dropdown-small uk-text-left" aria-hidden="true">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                    <li>
                                                        <a href="{{ url('puzzle_admin_static_page_update', { 'id': page.id }) }}">
                                                            <i class="fa fa-pencil"></i>
                                                            {{ 'static.page.list.update'|trans }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-route="{{ url('puzzle_admin_static_page_delete', {'id': page.id}) }}" data-text="{{ 'static.page.delete.description'|trans({'%pageName%': page.name}) }}" data-label="{{ page.name }}" class="remove-item">
                                                            <i class="fa fa-trash-o uk-text-danger"></i>
                                                            {{ "static.page.list.delete"|trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('body').on('change', '.grouped-actions', function(e){
			switch($(this).val()){
				case 'delete':
					var modalId = 'delete-list-modal';
					
					UIkit.modal("#" + modalId).show();
					$('#' + modalId).find('#delete-list-btn').data('delete-item-route', 'puzzle_admin_static_page_delete');
				default:
					break;
			}
		});
	</script>
{% endblock %}
