{% trans_default_domain 'messages' %}

{% extends 'AdminBundle:Inventory:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "inventory.product.update"|trans|capitalize }} {{ product.name|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('admin_inventory_product_list') }} ">
       {{ 'inventory.product.list'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "inventory.product.update"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {% include 'AdminBundle:Inventory:form_product.html.twig' with {'form': form, 'product': product} %}
    </div>
{% endblock %}
