{% trans_default_domain 'user' %}

{% extends 'AdminBundle:User:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "user.account.profile.update_password"|trans|capitalize }} {{ user }} {% endblock %}


{% block breadcrumbmodule %}
    {{ parent() }}
    <em>{{ "user.account.profile.update_password"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
        {{ form_start(form, {'attr': {'class': 'uk-form-stacked'}}) }}
            <div class="uk-width-medium-5-10 uk-container-center">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-form-row">
                            {{ form_label(form.currentPassword, 'user.account.form.current_password'|trans, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.currentPassword, {'attr': {'class': 'md-input'}}) }}
                            {{ form_errors(form.currentPassword) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.plainPassword.first, 'user.account.form.plain_password_first'|trans, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'md-input'}}) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.plainPassword.second, 'user.account.form.plain_password_second'|trans, {'label_attr': {'class': 'uk-form-label'}}) }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'md-input'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-text-center uk-margin-top">
                <a class="md-btn md-btn-default" href="{{ url('puzzle_admin_user_account_show_profile') }}">
                    {{ 'user.account.form.cancel'|trans }}
                </a>
                <button class="md-btn md-btn-success" type="submit">
                    {{ 'user.account.form.update'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}